{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <h2 class="h3">What The Food!?</h2>
        </br>
        <p class="text-big"> Sharing my passion for great food around Sydney. If you have any recommendations, enquiries, bug reports or any form of constructive feedback,
        please direct it towards: 
        </br></br> <strong> peter.kim112000@gmail.com </strong> </br></br> 
        Also please note that the images used in index is from (I do not claim any of the image as my own work): </br>
        https://www.iccsydney.com.au/Media/News/Articles/ICC-Sydney-brings-food-into-focus 
        </br> https://res.cloudinary.com/fittco/image/upload/v1568139328/rtwvwbvuiddxmc2qpujh.jpg
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock content %}