{% load static %}

<!-- Page Footer-->
<footer class="main-footer">
    <div class="container">
    <div class="row">
        <div class="col-md-4">
        <div class="logo">
            <h6 class="text-white">What The Food!?</h6>
        </div>
        <div class="contact-details">
            <p>Sydney, 2000, NSW</p>
            <p>Phone: Please email me for any enquires <3</p>
            <p>Email: <a href="mailto:peter.kim112000@gmail.com">peter.kim112000@gmail.com</a></p>
        </div>
        </div>
        <div class="col-md-4 ml-auto">
        {% for post in latest_posts %}
            <div class="latest-posts"><a href="{{ post.post_url}}">
                <div class="post d-flex align-items-center">
                    <div class="image"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></div>
                    <div class="title"><strong>{{ post.title }}</strong><span class="date last-meta">{{ post.timestamp }}</span></div>
                </div></a>
            </div>
        {% endfor %}
        </div>
    </div>
    </div>
    <div class="copyrights">
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <p>&copy; 2020. All rights reserved. What The Food!?. Made with &#10084;&#65039; by Peter Kim.</p>
        </div>
        <div class="col-md-6 text-right">
            <p>Template By <a href="https://bootstrapious.com/p/bootstrap-carousel" class="text-white">Bootstrapious</a>
            </p>
        </div>
        </div>
    </div>
    </div>
</footer>