{% extends 'base.html' %}
{% load static %}

{% block title %}Post - {{ post.title }}{% endblock title %}

{% block content %}

<style>
  .post-body img {
    width: 100%;
  }
</style>

<div class="container">
  <div class="row">
    <!-- Latest Posts -->
    <main class="post blog-post col-lg-8"> 
      <div class="container">
        <div class="post-single">
          <div class="post-thumbnail"><img src="{{ post.thumbnail.url }}" alt="..." class="img-fluid"></div>
          <div class="post-details">
            <div class="post-meta d-flex justify-content-between">
              <div class="category">
                {% for cat in post.categories.all %}
                  <a href="/category_search?query_name={{ cat.categories__title | urlencode }}">{{ cat }}</a>
                {% endfor %}
              </div>
            </div>
            <h1>{{ post.title }}<a href="#"></a></h1>
            <div class="post-footer d-flex align-items-center flex-column flex-sm-row"><a href="#" class="author d-flex align-items-center flex-wrap">
                <div class="avatar"><img src="{{ post.author.profile_picture.url }}" alt="..." class="img-fluid"></div>
                <div class="title"><span>{{ post.author.user.username }} </span></div></a>
              <div class="d-flex align-items-center flex-wrap">       
                <div class="date"><i class="icon-clock"></i> {{ post.timestamp | timesince }} ago</div>
                <div class="views"><i class="icon-eye"></i> {{ post.view_count }}</div>
                <div class="comments meta-last"><i class="icon-comment"></i>{{post.comment_count}}</div>
              </div>
            </div>
            {% if not post.announcement %}
              <hr/>
              <div class="rating">
                <div class="d-inline h3">Ratings</div>
                <br/>
                <br/>
                <div class="d-inline p-2" data-toggle="tooltip" data-placement="top" title="Food Ratings have a 80% weighting">Food: {{post.food_rating}}/10</div>
                <div class="d-inline p-2" data-toggle="tooltip" data-placement="top" title="Atmosphere Ratings have a 10% weighting">Atmosphere: {{post.atmosphere_rating}}/10</div>
                <div class="d-inline p-2" data-toggle="tooltip" data-placement="top" title="Hospitality Ratings have a 10% weighting">Hospitality: {{post.hospitality_rating}}/10</div>
                <div class="d-inline p-2 bg-info text-white">Total: {{ post.getTotalScore }}/10</div>
              </div>
              <hr/>
            {% endif %}
            <div class="post-body">
              {{ post.content | safe }}
	      <br/>
              {% if not post.announcement %}
                <h3>Location</h3>
                <iframe src="{{ post.location }}" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
              {% endif %}
              <!-- Image Slideshow -->
                <br/><br/>
                <h3 class="text-left">Image Gallery</h3>
                {% if not photos %} <!-- No photos in gallery -->
                  <h5 class="text-center">There seems to be no photos in the gallery</h3>
                {% else %}
                  <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
                      <!--Indicators-->
                      <ol class="carousel-indicators">
                      {% for p in photos %}
                        <li data-target="#carousel-example-1z" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
                      {% endfor %}
                      </ol>
                      <!--/.Indicators-->
                      <!--Slides-->
                      <div class="carousel-inner" role="listbox">
                        {% for p in photos %}
                        <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                          <img class="d-block w-100" src="{{p.images.url}}"
                            alt="First slide">
                        </div>
                        {% endfor %}
                        <!--/First slide-->
                      <!--/.Slides-->
                      <!--Controls-->
                      <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                      <!--/.Controls-->
                    </div>
                  {% endif %}
              <!-- End Image Slideshow -->
            </div>
            {% comment %} <div class="post-tags"><a href="#" class="tag">#Business</a><a href="#" class="tag">#Tricks</a><a href="#" class="tag">#Financial</a><a href="#" class="tag">#Economy</a></div> {% endcomment %}
            <div class="post-comments">
              <header>
                <h3 class="h6">Post Comments<span class="no-of-comments">({{ post.comments.count }})</span></h3>
              </header>
              {% for comment in post.get_comments %}
                <div class="comment">
                  <div class="comment-header d-flex justify-content-between">
                    <div class="user d-flex align-items-center">
                      <div class="image">
                        {% if comment.user.author %}
                          <img src="{{ comment.user.author.profile_picture.url }}" alt="..." class="img-fluid rounded-circle">
                        {% else %}
                          <img src="{% static 'img/user.svg' %}" alt="..." class="img-fluid rounded-circle">
                        {% endif %}
                      </div>
                      <div class="title"><strong>{{ comment.user.username }}</strong><span class="date">{{ comment.timestamp | timesince }} ago</span></div>
                    </div>
                  </div>
                  <div class="comment-body">
                    <p>{{ comment.content }}</p>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="add-comment">
              {% if request.user.is_authenticated %}
                <header>
                  <h3 class="h6">Leave a reply</h3>
                </header>
                  <form method="POST" action="#" class="commenting-form">
                    {% csrf_token %}
                    <div class="row">
                      <div class="form-group col-md-12">
                        {{ form }}
                      </div>
                      <div class="form-group col-md-12">
                        <button type="submit" class="btn btn-secondary">Submit Comment</button>
                      </div>
                    </div>
                  </form>
            </div>
            {% else %}
              <a href="{% url 'account_login' %}" type="submit" class="btn btn-primary">Login To Comment</a>
            {% endif %}
          </div>
        </div>
      </div>
    </main>
  {% include 'sidebar.html' with most_recent=most_recent category_count=category_count %}
  </div>
</div>
{% endblock content %}
